body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  padding: 10px;
}

/* Css Process Table */
.process {
  margin: 10px;
  display: flex;
  height: 15rem;
}

.p {
  margin-right: 10px;
  background-color: white;
  width: 60%;
  overflow-y: scroll;
  /* border: 3px solid gold; */
}

.p-head {
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.p-body {
  margin: 0.5rem 5%;
}

/* Css I/O Table */
.io {
  background-color: white;
  width: 40%;
  overflow-y: scroll;
}

.io-head {
  background: darkgray;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.io-body {
  margin: 0.5rem 5%;
}

/* Queue */
.queue {
  margin: 10px;
  display: flex;
  height: 15rem;
}

.p-queue {
  margin-right: 10px;
  width: 65%;
  text-align: center;
  background-color: white;
  overflow-y: scroll;
}
.io-queue {
  margin-right: 10px;
  width: 50%;
  text-align: center;
  background-color: white;
  overflow-y: scroll;
}
.controller {
  width: 30%;
  background-color: white;
}
.p-qhead {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  background-color: darkgray;
}
.p-qbody {
  margin: 0.5rem 5%;
}
.p-controller {
  font-size: 13px;
  margin-left: 10px;
}
.p-controller p {
  margin: 2px;
}

/* Terminate Table */
.t-terminate {
  margin: 10px;
  background-color: white;
  height: 15rem;
  overflow-y: scroll;
}

.t-head {
  padding: 10px;
  /* font-size: 10px; */
  font-weight: bold;
  text-align: center;
  background-color: darkgray;
}

.t-body {
  margin: 0.5rem 3%;
}

/* Table */
table {
  font-size: 12px;
  text-align: center;
  width: 100%;
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}
th {
    background-color: wheat;
}

/* Button */
.btn-add {
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
  background-color: #28a745;
}
.btn-close {
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
  background-color: #dc3545;
}

.btn-reset {
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
  background-color: #ffc107;
}
.btn-add:hover {
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #28a745;
    color: #FFFFFF; 
    padding: 10px 10px; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px;
}
.btn-close:hover{
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #dc3545;
    color: #FFFFFF; 
    padding: 10px 10px; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px;
}
.btn-reset:hover{
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #ffc107;
    color: #FFFFFF; 
    padding: 10px 10px; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px; 
}

/* process */
.ready {
  background-color: yellow;
}
.running,
.iorunning {
  background-color: limegreen;
}
.waiting,
.iowaiting {
  background-color: orange;
}
.terminate,
.ioterminate {
  background-color: red;
  color: white;
}
